
    <mat-card style="margin: 20px 40px 40px 40px;">
     <div class="info-fly">
      <mat-card-title>
        Search  routes Flyr
      </mat-card-title>
     </div>
        
        <form  [formGroup]="flysForm">
            <div class="info-fly">
              <div class="row">
                <div class="col4">
                  <mat-form-field class="full-width" appearance ="outline">
                    <mat-label>Origen</mat-label>
                    <input formControlName="origin" matInput autocomplete = "off" type="text" oninput="this.value = this.value.toUpperCase()"
                    (blur) = "validateMatch()">
                 
                </mat-form-field>
                </div>
                  
            <div class="col-4">
              <mat-form-field class="full-width" appearance ="outline">
                <mat-label>Destino</mat-label>
                <input formControlName="destination" matInput autocomplete = "off" type="text"  oninput="this.value = this.value.toUpperCase()"
                (blur) = "validateMatch()" [disabled]="!monstrarLoadinfg">
               
                <mat-error class="errorText">
                  <strong>Obligatorio </strong>
                </mat-error>
               
            </mat-form-field>
            <div  *ngIf="match">
              <mat-error class="errorText">
                <strong>Los campos no deben ser iguales </strong>
              </mat-error>
            </div>
            </div>
          
                    <div class="example-button-row">
                    <button  mat-raised-button color="primary"  aria-label="Example icon button with a home icon" (click) = "routesCalculation()">
                     
                      Consulta tu ruta
                    </button>
                  </div>
                  </div>
            </div>
            
                  <div class="info-fly">
                    <div class="row">
                   
                      <mat-form-field class="full-width" appearance ="outline">
                        <mat-label>Origen</mat-label>
                        <input formControlName="principalOrigin" matInput autocomplete = "off" type="text" oninput="this.value = this.value.toUpperCase()">
                     
                    </mat-form-field>
                   
                 
                      <mat-form-field class="full-width" appearance ="outline">
                        <mat-label>Destino</mat-label>
                        <input formControlName="principalDestinaiton" matInput autocomplete = "off" type="text" oninput="this.value = this.value.toUpperCase()">
                     
                    </mat-form-field>
                
                   
                      <mat-form-field class="full-width" appearance ="outline">
                        <mat-label>Precio</mat-label>
                        <input formControlName="pricipalPrice" matInput autocomplete = "off" type="text"
                        currencyMask
                        [options]="{prefix: '$', suffix: '',thousands: '.', decimal: ',',precision: 0, integerMax: 10}"
         >
                     
                    </mat-form-field>
      
                    <mat-form-field  class="example-full-width" appearance="outline">
                      <mat-label class="label">Conversion de moneda</mat-label>
                      <mat-select formControlName="currencyConversion">
                        <mat-option class="inputText" value = '1'>Euro
                        </mat-option>
      
                        <mat-option class="inputText" value = '2'>Pesos colombianos
                        </mat-option>
                      </mat-select>
                      <mat-error class="errorText">
                        <strong>Obligatorio </strong>
                      </mat-error>
                    </mat-form-field>
                  
                  </div>
                  </div>
             
            
            
             
               </form>
      
  
        <mat-card-content style="padding-bottom: 15px;">


          <div class="mat-elevation-z2">
            <table mat-table [dataSource]="dataSour" class="mat-elevation-z8">
        
                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Position Column -->
                <!-- <ng-container matColumnDef="nombreCompleto">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.nombreCompleto}} </td>
                </ng-container> -->
              
                <!-- Name Column -->
                <ng-container matColumnDef="Origin">
                  <th mat-header-cell *matHeaderCellDef> Origin </th>
                  <td mat-cell *matCellDef="let element" [ngClass]="{'backg': element.Origin == 'Ruta 1'||element.Origin == 'Ruta 2' ||element.Origin == 'Ruta unica', 'gris':element.Origin =='Total'}" > {{element.Origin}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="Destination">
                  <th mat-header-cell *matHeaderCellDef> Destination </th>
                  <td mat-cell *matCellDef="let element" [ngClass]="{'backg': element.Origin == 'Ruta 1'||element.Origin == 'Ruta 2'||element.Origin == 'Ruta unica', 'gris':element.Origin =='Total'}" > {{element.Destination}} </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="Price">
                  <th mat-header-cell *matHeaderCellDef> Price </th>
                  <td mat-cell *matCellDef="let element" [ngClass]="{'backg': element.Origin == 'Ruta 1'||element.Origin == 'Ruta 2'||element.Origin == 'Ruta unica', 'gris':element.Origin =='Total'}" > {{element.Price == 0 ?'':element.Price}} </td>
                </ng-container>

                <ng-container matColumnDef="FlightCarrier">
                  <th mat-header-cell *matHeaderCellDef> FlightCarrier </th>
                  <td mat-cell *matCellDef="let element" [ngClass]="{'backg': element.Origin == 'Ruta 1'||element.Origin == 'Ruta 2'||element.Origin == 'Ruta unica', 'gris':element.Origin =='Total'}" > {{element.FlightCarrier}} </td>
                </ng-container>

                <ng-container matColumnDef="FlightNumber">
                  <th mat-header-cell *matHeaderCellDef> FlightNumber </th>
                  <td mat-cell *matCellDef="let element" [ngClass]="{'backg': element.Origin == 'Ruta 1'||element.Origin == 'Ruta 2'||element.Origin == 'Ruta unica', 'gris':element.Origin =='Total'}" > {{element.FlightNumber}} </td>
                </ng-container>
            
                
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td class="td" *matCellDef="let element" [ngClass]="{'backg': element.Origin == 'Ruta 1'||element.Origin == 'Ruta 2'||element.Origin == 'Ruta unica', 'gris':element.Origin =='Total'}">
                        
                        <div class="example-button-container" *ngIf="element.Origin =='Total'">
                          <button class="buttonPrincipal" mat-icon-button color="primary" aria-label="Example icon button with a home icon"(click)="setPrincipalPrice(element)">
                            <mat-icon>menu</mat-icon>
                            <span class="tooltip">Cambiar divisa</span>
                          </button>
                         
                        </div>
                    
                      
                    </td>
                  </ng-container>
                  
                <tr mat-header-row *matHeaderRowDef="columnasTabla"></tr>
                <tr mat-row *matRowDef="let row; columns: columnasTabla;"></tr>
        
                <tr  class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No hay datos que coincidas con el filtro</td>
                </tr>
              </table>
        
              <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons>
        
              </mat-paginator>
        </div>
        </mat-card-content>
        <mat-card-footer>
            <mat-progress-bar mode="indeterminate" *ngIf="monstrarLoadinfg"></mat-progress-bar>
            <button class="button"mat-raised-button color="primary" aria-label="Example icon button with a menu icon" (click)="comeBack()">regresar
              
            </button>
        </mat-card-footer>


    </mat-card> 

    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#1caf2b" type="square-jelly-box" [fullScreen]="true">
      <p style="color: white"></p>
    </ngx-spinner>

