.backg{
    background-color: rgb(149, 178, 231);
     /* text-align: center; */
    color: rgb(27, 26, 26);
    /* font-size:100%; */
    
}

.gris{
    background-color: rgb(210, 217, 228);
    /* // text-align: center; */
    color: rgba(36, 34, 34, 0.767);
    font-weight: bold;
}

.example-button-row {
    display: table-cell;
    max-width: 600px;
    display: flex;
    justify-content: center;
    float: cewnter;
  }

  .info-fly{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

.example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
  }

  .button{
    display: flex;
    margin : 30px;
    float: right;
  }
  .tooltip{
    position: absolute;
    z-index: 1;
    background-color: #272c33;
    color: white;
    padding: 4px 2px;
    line-height: 1.5;
    visibility: hidden;
    border-radius: 3px;
    bottom: 20px;
    left: 0;
  }
  .tooltip::after{
    content: "";
    display: block;
    border-top: 10px solid #272c33;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    left: 5px;
  }

  .buttonPrincipal:hover .tooltip{
    visibility: visible;  
  }



