<div class="body">
    <mat-card class="loginCard">
        <div class="header">
            <h1>
                Bienvenido.
                
            </h1>
      
            <h2>
                Consulta nuestra disponibilidad de vuelos.
            </h2>
    </div>

    <mat-card-content style="padding-bottom: 15px;">
 
            <button class="full-width" mat-raised-button color ="primary" (click) ="ingreso()"
            
            >Ingresar
                <!-- <mat-icon matSuffix>login</mat-icon> -->
            </button>
       
    </mat-card-content>
    </mat-card>


</div>
