.body{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-color: #f5f5f5;
}

.loginCard{
    max-width: 400px !important ;
    margin: 2em auto;
    text-align: center;
    max-height: 900px;
    padding: 20px;
}

.header
{
    text-align: center;
}

.full-width{
    width: 80%;
}